<div class="acks-henchmen-card reveal-card">
  <header class="card-header"><h3>{{title}}</h3></header>
  <div class="card-content">
    <div class="outcome"><strong>{{outcomeText}}</strong></div>
  </div>
</div>
